@use 'layouts/grid';

$spacing: 0.5;

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@for $i from 0 through 5 {
  .gg-#{$i} {
    gap: $i*$spacing*1rem;
  }

  .cg-#{$i} {
    column-gap: $i*$spacing*1rem;
  }

  .rg-#{$i} {
    row-gap: $i*$spacing*1rem;
  }

  .p-#{$i} {
    padding: $i*$spacing*1rem;
  }

  .px-#{$i} {
    padding-left: $i*$spacing*1rem;
    padding-right: $i*$spacing*1rem;
  }

  .py-#{$i} {
    padding-top: $i*$spacing*1rem;
    padding-bottom: $i*$spacing*1rem;
  }

  .pt-#{$i} {
    padding-top: $i*$spacing*1rem;
  }

  .pr-#{$i} {
    padding-right: $i*$spacing*1rem;
  }

  .pb-#{$i} {
    padding-bottom: $i*$spacing*1rem;
  }

  .pl-#{$i} {
    padding-left: $i*$spacing*1rem;
  }

  .m-#{$i} {
    margin: $i*$spacing*1rem;
  }

  .mx-#{$i} {
    margin-left: $i*$spacing*1rem;
    margin-right: $i*$spacing*1rem;
  }

  .my-#{$i} {
    margin-top: $i*$spacing*1rem;
    margin-bottom: $i*$spacing*1rem;
  }

  .mt-#{$i} {
    margin-top: $i*$spacing*1rem;
  }

  .mr-#{$i} {
    margin-right: $i*$spacing*1rem;
  }

  .mb-#{$i} {
    margin-bottom: $i*$spacing*1rem;
  }

  .ml-#{$i} {
    margin-left: $i*$spacing*1rem;
  }

  .m-n#{$i} {
    margin: -$i*$spacing*1rem;
  }

  .mx-n#{$i} {
    margin-left: -$i*$spacing*1rem;
    margin-right: -$i*$spacing*1rem;
  }

  .my-n#{$i} {
    margin-top: -$i*$spacing*1rem;
    margin-bottom: -$i*$spacing*1rem;
  }

  .mt-n#{$i} {
    margin-top: -$i*$spacing*1rem;
  }

  .mr-n#{$i} {
    margin-right: -$i*$spacing*1rem;
  }

  .mb-n#{$i} {
    margin-bottom: -$i*$spacing*1rem;
  }

  .ml-n#{$i} {
    margin-left: -$i*$spacing*1rem;
  }
}

@for $i from 0 through 250 {
  .h#{$i} {
    height: #{$i}px;
  }

  .w#{$i} {
    width: #{$i}px;
  }
}

@media screen and (min-width: $break-medium) {
  @for $i from 0 through 5 {
    .gg-md-#{$i} {
      gap: $i*$spacing*1rem;
    }
  
    .cg-md-#{$i} {
      column-gap: $i*$spacing*1rem;
    }
  
    .rg-md-#{$i} {
      row-gap: $i*$spacing*1rem;
    }
  
    .p-md-#{$i} {
      padding: $i*$spacing*1rem;
    }
  
    .px-md-#{$i} {
      padding-left: $i*$spacing*1rem;
      padding-right: $i*$spacing*1rem;
    }
  
    .py-md-#{$i} {
      padding-top: $i*$spacing*1rem;
      padding-bottom: $i*$spacing*1rem;
    }
  
    .pt-md-#{$i} {
      padding-top: $i*$spacing*1rem;
    }
  
    .pr-md-#{$i} {
      padding-right: $i*$spacing*1rem;
    }
  
    .pb-md-#{$i} {
      padding-bottom: $i*$spacing*1rem;
    }
  
    .pl-md-#{$i} {
      padding-left: $i*$spacing*1rem;
    }
  
    .m-md-#{$i} {
      margin: $i*$spacing*1rem;
    }
  
    .mx-md-#{$i} {
      margin-left: $i*$spacing*1rem;
      margin-right: $i*$spacing*1rem;
    }
  
    .my-md-#{$i} {
      margin-top: $i*$spacing*1rem;
      margin-bottom: $i*$spacing*1rem;
    }
  
    .mt-md-#{$i} {
      margin-top: $i*$spacing*1rem;
    }
  
    .mr-md-#{$i} {
      margin-right: $i*$spacing*1rem;
    }
  
    .mb-md-#{$i} {
      margin-bottom: $i*$spacing*1rem;
    }
  
    .ml-md-#{$i} {
      margin-left: $i*$spacing*1rem;
    }
  
    .m-md-n#{$i} {
      margin: -$i*$spacing*1rem;
    }
  
    .mx-md-n#{$i} {
      margin-left: -$i*$spacing*1rem;
      margin-right: -$i*$spacing*1rem;
    }
  
    .my-md-n#{$i} {
      margin-top: -$i*$spacing*1rem;
      margin-bottom: -$i*$spacing*1rem;
    }
  
    .mt-md-n#{$i} {
      margin-top: -$i*$spacing*1rem;
    }
  
    .mr-md-n#{$i} {
      margin-right: -$i*$spacing*1rem;
    }
  
    .mb-md-n#{$i} {
      margin-bottom: -$i*$spacing*1rem;
    }
  
    .ml-md-n#{$i} {
      margin-left: -$i*$spacing*1rem;
    }
  }

  .m-md-auto {
    margin: auto;
  }

  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: $break-large) {
  @for $i from 0 through 5 {
    .gg-lg-#{$i} {
      gap: $i*$spacing*1rem;
    }
  
    .cg-lg-#{$i} {
      column-gap: $i*$spacing*1rem;
    }
  
    .rg-lg-#{$i} {
      row-gap: $i*$spacing*1rem;
    }
  
    .p-lg-#{$i} {
      padding: $i*$spacing*1rem;
    }
  
    .px-lg-#{$i} {
      padding-left: $i*$spacing*1rem;
      padding-right: $i*$spacing*1rem;
    }
  
    .py-lg-#{$i} {
      padding-top: $i*$spacing*1rem;
      padding-bottom: $i*$spacing*1rem;
    }
  
    .pt-lg-#{$i} {
      padding-top: $i*$spacing*1rem;
    }
  
    .pr-lg-#{$i} {
      padding-right: $i*$spacing*1rem;
    }
  
    .pb-lg-#{$i} {
      padding-bottom: $i*$spacing*1rem;
    }
  
    .pl-lg-#{$i} {
      padding-left: $i*$spacing*1rem;
    }
  
    .m-lg-#{$i} {
      margin: $i*$spacing*1rem;
    }
  
    .mx-lg-#{$i} {
      margin-left: $i*$spacing*1rem;
      margin-right: $i*$spacing*1rem;
    }
  
    .my-lg-#{$i} {
      margin-top: $i*$spacing*1rem;
      margin-bottom: $i*$spacing*1rem;
    }
  
    .mt-lg-#{$i} {
      margin-top: $i*$spacing*1rem;
    }
  
    .mr-lg-#{$i} {
      margin-right: $i*$spacing*1rem;
    }
  
    .mb-lg-#{$i} {
      margin-bottom: $i*$spacing*1rem;
    }
  
    .ml-lg-#{$i} {
      margin-left: $i*$spacing*1rem;
    }
  
    .m-lg-n#{$i} {
      margin: -$i*$spacing*1rem;
    }
  
    .mx-lg-n#{$i} {
      margin-left: -$i*$spacing*1rem;
      margin-right: -$i*$spacing*1rem;
    }
  
    .my-lg-n#{$i} {
      margin-top: -$i*$spacing*1rem;
      margin-bottom: -$i*$spacing*1rem;
    }
  
    .mt-lg-n#{$i} {
      margin-top: -$i*$spacing*1rem;
    }
  
    .mr-lg-n#{$i} {
      margin-right: -$i*$spacing*1rem;
    }
  
    .mb-lg-n#{$i} {
      margin-bottom: -$i*$spacing*1rem;
    }
  
    .ml-lg-n#{$i} {
      margin-left: -$i*$spacing*1rem;
    }
  }
  
  .m-lg-auto {
    margin: auto;
  }

  .mx-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .my-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}
